/* PC버전 */

/* ----------section1---------- */
.section_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.section_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 article {
  text-align: center;
  padding-top: 10%;
  width: 50%;
}
.section1_text strong {
  /* 128px => 8em */
  font-size: 6em;
  font-weight: 700;
  background: linear-gradient(155deg, #0cc7d3 0%, #0c50b5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1_text span {
  font-size: 4em;
  font-weight: 700;
}
.section1_text h2 {
  font-size: 4em;
}
.section1_btn {
  margin-top: 60px;
}
.section1_btn button {
  width: 50%;
  font-size: 1.7em;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(155deg, #0c50b5 0%, #0cc7d3 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}
.section1_btn button:hover {
  background-image: linear-gradient(to right, #0cc7d3 0%, #0cc7d3 29%, #3481f2 67%, #3481f2 100%);
}
.section1_btn button h1 {
  padding: 10px;
  background: linear-gradient(155deg, #0cc7d3 0%, #0c50b5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1_btn button h1:hover {
  background: linear-gradient(94deg, #ffff 0%, #ffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 img {
  width: 50%;
}

/* ----------section2---------- */

#section2_bg {
  width: 100%;
  height: 100%;
  background: #265cac;
  color: white;
}
#section2_bg .section_container {
  padding-top: 40px;
  height: 100%;
}
.section2_item1 {
  text-align: center;
  padding: 5%;
}
.section2_item1 strong {
  background: linear-gradient(94deg, #0cc7d3 0%, #3582f2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7em;
}
.section2_item1 span,
h2 {
  font-size: 3em;
}
.section2_item2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.section2_item2 img {
  width: 80%;
}
.section2_item2 h1 {
  font-size: 2em;
  margin-bottom: 5%;
  font-weight: 400;
}

/* ----------section3---------- */
.section3 {
  margin: 80px 0;
  width: 100%;
}
.section3_text {
  text-align: center;
}
.section3_text strong {
  font-size: 4em;
}
.section3_text h3 {
  font-size: 6em;
  background: linear-gradient(94deg, #0cc7d3 0%, #3582f2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}
.section3_text p {
  font-size: 3em;
}
.section3 img {
  width: 55%;
  margin: 50px 0;
}

/* ----------section4---------- */
.section4 {
  margin: 80px 0;
}
.section4 .pc_img {
  width: 45%;
  border-radius: 40px;
}
.section4_text {
  text-align: center;
  margin-right: 10%;
}
.section4_text h4 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10%;
}
.section4_text h4 span {
  font-size: 1.3em;
  background: linear-gradient(94deg, #0cc7d3 0%, #3582f2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section4_text .mobile_img {
  display: none;
}
.section4_text p {
  font-size: 2.5em;
}

/* ---------- section5 ---------- */
.section5 {
  margin-top: 60px;
}
.section5 img {
  width: 40%;
}
.section5_text {
  width: 50%;
  padding-right: 5%;
  color: #484848;
  font-weight: 700;
  font-size: 2em;
}
.section5_text p {
  margin-bottom: 5%;
  text-indent: -36px;
}
.section5_text p strong {
  color: #265cac;
}
.section5_text_item1 {
  margin-bottom: 20%;
}

/* ---------- section6 ---------- */
.section6 {
  background-image: url(../images/main/section6_bg.png);
}
#table_container {
  position: relative;
}
.section6_table {
  border-bottom: 1px solid #e2e2e2;
}
.section6_table_row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e2e2e2;
}
.section6_table_row:nth-child(1) {
  border-top: none;
}
.section6_table_row span {
  width: 25%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_title {
  color: #f3f3f3;
  font-size: 2.5em;
  font-weight: 700;
}
.title {
  color: #c2c2c2;
  font-size: 3.5em;
  font-weight: 900;
}
/* 표 아이콘 */
.fa-solid {
  font-size: 2.5em;
}
.fa-circle-xmark {
  color: #db8d54;
}
.check_icon {
  color: #c84848;
}

#table_box {
  width: 23%;
  position: absolute;
  top: -3%;
  left: 25%;
  border-radius: 30px;
  border: 4px solid #0cc7d3;
  background: #fafafa;
  box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.5);
}
#table_box .box_title {
  background: linear-gradient(93deg, #0cc7d3 0%, #265cac 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em;
  font-weight: 900;
}
#table_box div {
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#table_box div:nth-child(1) {
  margin-top: 5%;
}
#table_box div:nth-last-child(1) {
  margin-bottom: 10%;
}
.table_box_icon {
  background: linear-gradient(150deg, #0cc7d3 0%, #1c56ad 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* ----------media query---------- */
@media screen and (max-width: 1440px) {
  .section_container {
    max-width: 90%;
  }
}
@media screen and (max-width: 1239px) {
  .section3_text strong {
    font-size: 2.7em;
  }
  .section3_text h3 {
    font-size: 4em;
  }
  .section3_text p {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1100px) {
  .section4_text {
    margin-right: 7%;
  }
  .section4_text h4 {
    font-size: 2.4em;
  }
  .section5_text {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 768px) {
  .section_inner {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* ----------section1---------- */
  .section1 {
    position: relative;
  }
  .section1 article {
    width: 100%;
  }
  .section1 .section1_text {
    font-size: 0.67em;
    margin-bottom: 30px;
  }
  .section1 .section1_btn {
    position: absolute;
    width: 100%;
    bottom: 1%;
  }
  .section1 img {
    width: 100%;
  }

  /* ----------section2---------- */
  .section2_item1 {
    padding: 20% 0;
  }
  .section2_item1 strong {
    font-size: 4em;
  }
  .section2_item1 span,
  h2 {
    font-size: 2em;
  }
  .section2_item2 {
    display: flex;
    flex-direction: column;
  }
  .section2_item2 img {
    margin-bottom: 20px;
  }
  .section2_item2 h1 {
    padding-bottom: 15%;
  }

  /* ----------section3---------- */
  .section3_text {
    font-size: 1.2em;
  }
  .section3 img {
    width: 100%;
  }

  /* ----------section4---------- */
  .section4 .pc_img {
    display: none;
  }
  .section4_text {
    padding: 0;
    font-size: 0.8em;
  }
  .section4_text h4 {
    padding-top: 20%;
  }
  .section4_text .mobile_img {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  .section4_text p {
    padding-bottom: 20%;
  }

  /* ----------section5---------- */
  .section5 img {
    width: 80%;
    margin-bottom: 10%;
  }
  .section5_text {
    width: 100%;
    padding-right: 0;
    padding-left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .section5_text {
    font-size: 1.5em;
  }
}
